.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 83px;

    margin: 32px 0 61px;

    &__leftBox {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__logoBox {

            display: flex;
            align-items: center;
            justify-content: center;

            margin-right: 28px;

            &__logo {
                margin-right: 16px;
            }

            &__title {
                @include H4;
                
                color: $color-purple-000;

                margin: 10px;
            }
        }

        &__searchBox {
            position: relative;
            display: flex;
            align-items: center;

            .searchIcon {
                width: 24px;
                height: 24px;
                margin-right: 12px;
                color: $color-purple-000;
                position: absolute;
                margin: 0 10px;

            }

            .searchInput {
                width: 288px;
                height: 44px;
                
                border-radius: 8px;
                border: none;

                background-color: $color-neteral-003;
                color: $color-text-003;

                text-indent: 46px;
            }
        }
    }

    &__rightBox {
        display: flex;
        align-items: center;
        justify-content: center;

        gap: 12px;

        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: center;

            gap: 12px;

            &__name {
                margin: 10px;
            }
        }

        &__bellIcon {
            width: 44px;
            height: 44px;

            display: flex;
            align-items: center;
            justify-content: center;

            outline: none;

            border: none;
            border-radius: 8px;

            padding: 6px 10px;

            background-color: $color-neteral-003;
            color: $color-text-003;

            .bellIcon {
                color: $color-purple-000;
            }
        }

        &__account {
            width: 141px;
            height: 44px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            outline: none;

            border: none;
            border-radius: 50px;

            background-color: $color-neteral-003;
            color: $color-text-003;

            .title {
                color: $color-purple-000;
                margin-left: 24px;
            }
        }

        &__userName {
            color: $color-neteral-004;
            font-weight: 400;
            font-size: 15px;
        }
    }

    &__tabletMenu {
        display: none;
    }
}

/* 반응형 (태블릿) */
@media screen and (max-width: 1024px) {
    .header {
        &__leftBox {
            &__searchBox {
                display: none;
            }
        }
        &__rightBox {
            display: none;
        }
        &__tabletMenu {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 44px;
            height: 44px;

            background: $color-neteral-003;

            border-radius: 8px;
        }
    }
}

/* 반응형 (모바일) */
@media screen and (max-width: 375px) {
    .header {
        margin-bottom: 27px;
        &__leftBox {
            &__logoBox {
                img {
                    width: 48px;
                    height: 48px;
                }
                &__title {
                    @include H5;
                }
            }
        }
    }
}