.account {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;

    /* 반응형(PC, 태블릿) */
    @media screen and (min-width: $pc-min-width),
           screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        flex-direction: row;
        justify-content: space-between;  
        gap: 60px;
    }

    &__mainImg {
        width: 100%;
        height: 232px;
        
        /* 반응형(PC, 태블릿) */
        @media screen and (min-width: $pc-min-width), 
               screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
            width: 50%;
            height: auto;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__createAccount {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 0 40px 0;
        padding: 0 30px;

        @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width),
               screen and (min-width: $pc-min-width) {
            width: 50%;
            justify-content: center;
        }

        /* 반응형(태블릿) */
        @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
            margin: 80px 0;
        }

        /* 반응형(PC) */
        @media screen and (min-width: $pc-min-width) {
            margin: 100px 0;
        }

        p:nth-child(1) {
            @include H3-WorkSans;
            color: $color-text-basic;
            margin-bottom: 20px;
            /* 반응형(태블릿) */
            @media screen and (min-width: $pc-min-width) {
                @include H2-WorkSans;
            }
        }

        p:nth-child(2) {
            width: 100%;
            color: $color-text-basic;
            margin-bottom: 30px;
            @include Base-WorkSans;

            /* 반응형(태블릿) */
            @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
                width: 325px;
                margin-bottom: 40px;
            }

             /* 반응형(PC) */
            @media screen and (min-width: $pc-min-width) {
                width: 460px;
                @include Body-WorkSans;
            }
        }

        &__accountBox{

            .inputBox {
                display: flex;
                flex-direction: column;
                gap: 20px;

                margin-bottom: 30px;
            }
        }
    }
}