.page {
    background-color: #2B2B2B;
    
    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1050px;
        height: 100%;
        margin: 10px auto 0px;
        /* 반응형(태블릿) */
        @media screen and (max-width: $tablet-size) {
            width: 680px;
        }

        &__menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 16px;
            width: 50%;
            
            p {
                @include H5-WorkSans;
                /* 반응형(태블릿) */
                @media screen and (max-width: $tablet-size) {
                    @include BaseSemi-WorkSans;
                }
            }

            span {
                padding: 5px 10px;
                border-radius: 20px;
                @include Base-SpaceMono;
            }

            &.active {
                color: $color-text-basic;
                border-bottom: 2px solid $color-caption-label-text;
                padding-bottom: 14px;
                span {
                    background-color: $color-caption-label-text;
                }
            }
    
            &.inactive {
                color: $color-caption-label-text;
                span {
                    background-color: $color-background-secondary;
                }
            }
        }
    }

    &__contents {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-background-secondary;
    }
}
