.page {
    background-color: #2B2B2B;
    
    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 115px 0px 115px;
        height: 60px;
        color: $color-text-basic;

        &__menu {
            display: flex;
            gap: 16px;
            margin: 14.5px 202.5px;

            p {
                @include H5-WorkSans;
            }

            span {
                padding: 5px 10px;
                border-radius: 20px;
                background-color: $color-caption-label-text;
                @include Base-SpaceMono;
                color: $color-text-basic;
            }
        }
    }
}