.page {
    background-color: #2B2B2B;
    
    &__category {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 115px 0px 115px;
        height: 60px;

        &__menu {
            display: flex;
            gap: 16px;
            padding: 14.5px 202.5px;
            
            p {
                @include H5-WorkSans;
            }

            span {
                padding: 5px 10px;
                border-radius: 20px;
                @include Base-SpaceMono;
            }

            &.active {
                color: $color-text-basic;
                span {
                    background-color: $color-caption-label-text;
                }
            }
    
            &.inactive {
                color: $color-caption-label-text;
                span {
                    background-color: $color-background-secondary;
                }
            }
        }
    }
}
