.button {
    border: none;
    border-radius: 5px;

    &.small {
        padding: 5px 10px;
        font-size: 12px;
    }

    &.medium {
        padding: 10px 20px;
        font-size: 14px;
    }

    &.large {
        padding: 15px 30px;
        font-size: 16px;
    }

    &:hover {
        background-color: #0056b3;
    }

    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
}