// COLOR PURPLE
$color-purple-000: #6F4FF2;
$color-purple-001: #866AFA;
$color-purple-002: #967DFD;
$color-purple-003: #B6A5FE;
$color-purple-004: #CDC0FF;

// COLOR NUTERAL
$color-neteral-000: #67696F;
$color-neteral-001: #929498;
$color-neteral-002: #D3D4D6;
$color-neteral-003: #F1F1F2;
$color-neteral-004: #FFFFFF;

// COLOR SUCCESS
$color-success-000: #0CC857;
$color-success-001: #29E072;
$color-success-002: #58E791;
$color-success-003: #88EEB1;
$color-success-004: #B8F5D0;

// COLOR DANGER
$color-danger-000: #E01E1E;
$color-danger-000: #DC3546;

// COLOR TEXT
$color-text-000: #0C0C0C;
$color-text-001: #202020;
$color-text-002: #3A3A3A;
$color-text-003: #717171;
$color-text-004: #FFFFFF;