// Background & Text
$color-background: #2B2B2B;
$color-background-secondary: #3B3B3B;
$color-caption-label-text: #858584;
$color-text-basic: #FFFFFF;
$color-text-gray: #CCCCCC;

// Call to Action
$color-call-to-action: #A259FF;

// Gradients