.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
        padding: 15px 50px;
    }
    @media screen and (min-width: $pc-min-width) {
        padding: 20px 50px;
    }

    &__leftBox {
        display: flex;
        align-items: center;
        gap: 12px;

        span {
            @include H5-SpaceMono;
        }
    }

    @media screen and (min-width: $pc-min-width) {
        &__rightBox {
            display: flex;
            align-items: center;
            &__nav {
                display: flex;
                gap: 10px;
    
                li {
                    padding: 12px 20px;
                    @include BaseSemi-WorkSans;
                }
            }
        }
    }
}