.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;

    @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width),
           screen and (min-width: $pc-min-width) {
        &__title {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    p {
        @include H4-WorkSans;
        margin-bottom: 30px;
    }

    &__cardContainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        @media screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (min-width: $pc-min-width) {
            grid-template-columns: repeat(3, 1fr);
        }
        gap: 30px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}