.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 30px;

    p {
        text-align: center;
        @include H4-WorkSans;
        margin-bottom: 30px;
    }

    &__cardContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-top: 40px;
        margin-bottom: 30px;
    }
}