.commonInput {
    display: flex;
    align-items: center;
    width: 330px;
    color: $color-logo-gray;

    &__inputBox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        padding: 12px 8px;

        border-radius: 20px;
        background: rgba(255, 255, 255, 1);

        img {
            width: 20px;
            height: 20px;
        }

        &__input {
            outline: none;
            border: none;

            text-indent: 10px;
        }
    }
}